@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hollow text effect for project titles */
.hollow-text {
  -webkit-text-stroke: 2px black;   /* 2px slate-300 outline */
  color: transparent;                  /* Makes text fill transparent */
  paint-order: stroke fill;
}

html {
  scroll-behavior: smooth;
}
